@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Rajdhani", sans-serif; 
}


@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}


body {
    font: 400 1rem "Inter", sans-serif;
    @apply bg-gray-900 text-gray-100 antialiased;
    background-color: #0b0b0f; /* tom escuro dos prints */
    color: #e5e7eb;
}

button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.carousel {
    margin-left: 5%;
    width: 100%;
}


@media screen and (min-width: 600px) {
    .carousel {
        margin-left: 0;
    }
}

/* Dark theme base */
:root {
    color-scheme: dark;
}

html, body, #root {
    height: 100%;
    overflow-x: hidden;
}

/* @media screen and (min-width: 1024px) {
    .carousel {
        margin-left: 10%;
    }
} */


